.cloud {
    height: auto;
    background: none;
    padding: 3rem 0 5.2rem;

    @include media-breakpoint-up(md) {
        padding-top: 4.8rem;
    }

    .header {
        margin-bottom: 2.5rem;
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
        }

        h3 {
            color: $navy;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .feats {
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .feat {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-bottom: 4.1rem;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
            align-items: flex-start;
            padding-right: 9rem;
            margin-bottom: 0;
        }

        .img-bg {
            width: 7.4rem;
            height: 7.4rem;
            border-radius: 50%;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.2rem;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: 300;
            margin-top: 0.6rem;
            text-align: center;

            @include media-breakpoint-up(md) {
                margin-top: 1.1rem;
                text-align: left;
            }
        }
    }
}