.business {
    display: flex;
    background-color: $lightest-blue;
    @include media-breakpoint-up(xl) {
        padding: 12rem 0 !important;
    }
    padding: 5rem 1rem;
    @include media-breakpoint-up(xl) {
        font-size: 1.6rem;
    }
    font-size: 1.8rem;
    color: $dark-navy;
    .tab-content {
        background-color: white;
        padding: 3rem 3.5rem;
        background: url(../../assets/images/solutionnovumphoto.png);
        overflow: hidden;
        border-radius: 5px;
        @include media-breakpoint-up(xl) {
            background-size: cover;
            height: 100%;
            padding: 5rem 3.5rem;
        }
        p:nth-child(1) {
            font-size: 1.8rem;
        }
        p {
            color: white;
            font-weight: 300;
            font-size: 1.4rem;
            @include media-breakpoint-up(xl) {
                font-size: 1.6rem;
            }
        }
        h3 {
            @include media-breakpoint-up(xl) {
                font-size: 2.5rem;
                margin: 3rem 0;
            }
            font-size: 2rem;
            font-weight: 700;
            color: white;
            margin: 2rem 0;
        }
        a {
            text-decoration: none;
            color: white;
            font-weight: 700;
            margin-top: 2rem;
            font-size: 1.6rem;
            @include media-breakpoint-up(xl) {
                margin-top: 4rem;
            }
            &:hover,
            &:focus,
            &:active {
                // margin-left: 2px;
            }
        }
    }
    .nav-pills {
        padding: 3rem;
        border-radius: 5px;
        background-color: #cbdef5;
        @include media-breakpoint-up(md) {
            padding: 3rem;
        }
        @include media-breakpoint-up(xl) {
            background-color: $lighter-blue;
        }
        .nav-link {
            white-space: no-wrap;
            color: #5f6bb2;
            margin-bottom: 0.8rem;
            padding-right: 0;
            font-size: 1.4rem;
            @include media-breakpoint-up(lg) {
                font-size: 1.6rem;
                padding-left: 0;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1.8rem;
            }
            &.active {
                font-weight: 600;
                color: $dark-navy;
            }
            &:active,
            &:focus,
            &:hover {
                color: $dark-navy;
            }
        }
    }
    .active {
        background-color: transparent !important;
    }
}