// Custom
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// Novum colors
$navy: #F8C603;
$dark-navy: #272d51;
$gray: #777777;
$light-gray: #F8F8F8;
$blue: #97c3e8;
$lighter-blue: #e5e5ea;
$lightest-blue: #f2f2f7;
$transparent-bg: #f8c603b5;
// Default colors
$primary: $navy;
h2 {
    color: $primary;
    font-size: 2.5rem;
    font-weight: 700;
}