.analytics {
    height: auto;
    color: $dark-navy;
    &__text {
        // margin-top: 6rem;
        font-size: 2rem;
        // font-weight: 300;
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
        h4 {
            font-size: 2rem;
        }
        p {
            margin: 3rem 0 5rem;
        }
    }
    &__header,
    &__sub-header {
        font-size: 2.5rem;
        border-radius: 5px;
        font-weight: 600;
    }
    &__header {
        padding: 0.5rem 1rem;
        background-color: $navy;
        color: white;
        display: inline-block;
        margin-right: 2rem;
        @include media-breakpoint-up(lg) {
            font-size: 3rem;
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        @include media-breakpoint-up(xl) {
            justify-content: flex-end;
        }
        img {
            height: 100%;
        }
    }
    &__sub-header {
        font-size: 2.5rem;
        color: $dark-navy;
        font-weight: 600;
        @include media-breakpoint-up(xl) {
            font-size: 3rem;
        }
    }
    &__sub-header-2 {
        margin-bottom: 3rem;
    }
    &__header-2 {
        margin: 7rem 0 4rem;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }
    &__header-3 {
        margin: 7rem 0 4rem;
        font-size: 3rem;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }
    &__about {
        font-size: 2rem;
        margin-bottom: 4rem;
        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
        }
        p {
            margin-top: 3rem;
        }
        .about-header {
            font-weight: bold;
        }
    }
    &__text {
        font-size: 2rem;
    }
    &__benefits {
        font-size: 2rem;
        font-weight: 400;
        li {
            margin-bottom: 2rem;
        }
    }
    &__approach {
        li {
            margin-bottom: 1.6rem;
        }
    }
    .row {
        padding: 7rem 1.5rem;
        @include media-breakpoint-up(xl) {
            padding: 10rem 0;
        }
    }
}