.go-digital {
  height: auto;
  color: $dark-navy;

  &__header,
  &__sub-header {
    font-size: 2.5rem;
    border-radius: 5px;
    font-weight: 600;
  }

  &__header {
    padding: 0.5rem 1rem;
    width: 33rem;
    background-color: $navy;
    color: white;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  &__sub-header {
    font-size: 2.5rem;
    color: $dark-navy;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  &__header-2 {
    margin: 3rem 0;

    @include media-breakpoint-up(md) {
      margin: 0 0 3rem 0;
      font-size: 3rem;
    }
  }

  &__about {
    font-size: 2rem;
    color: black;
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  &__expertise {
    font-size: 1.8rem;
    line-height: 3.2rem;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }

  .row {
    padding: 7rem 1.5rem;

    @include media-breakpoint-up(xl) {
      padding: 7rem 0;
    }
  }
}
