.ms-enterprise {
    height: auto;
    background: white;
    padding-bottom: 3rem;
    @include media-breakpoint-up(md) {
        padding-bottom: 5rem;
    }
    .label {
        font-weight: 400;
        line-height: 3.2rem;
        margin-bottom: 2rem;
        @include media-breakpoint-up(md) {
            font-size: 2.5rem;
            line-height: 3.2rem;
            margin-bottom: 2.5rem;
        }
    }
    .feat {
        display: flex;
        padding: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        background-image: linear-gradient(90deg, #3B4A9E 0%, rgba(59, 74, 158, 0.6) 100%);
        @include media-breakpoint-up(md) {
            height: 15rem;
            padding: 0 5rem 0 2.5rem;
            margin-bottom: 2rem;
            align-items: center;
        }
        .img-bg {
            display: flex;
            flex: none;
            justify-content: center;
            align-items: center;
            width: 5.4rem;
            height: 5.4rem;
            border-radius: 50%;
            background-color: $white;
            @include media-breakpoint-up(md) {
                width: 9.8rem;
                height: 9.8rem;
                margin-right: 2.5rem;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 0.3rem;
            }
            img {
                @include media-breakpoint-down(md) {
                    width: 3.4rem;
                    height: 3.4rem;
                }
            }
        }
        h2 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 3rem;
            color: $white;
            @include media-breakpoint-up(md) {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
        }
    }
}